.header {
  background-color: #133A3B;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 26%;
  }

  @media screen and (min-width: 768px) {
    &__logo {
      width: 20%;
    }
  }

  @media screen and (min-width: 1024px) {
    &__logo {
      width: 16%;
    }
  }

  @media screen and (min-width: 1440px) {
    &__logo {
      width: 10%;
    }
  }
}
